
.THIS .myPanel.slds-col.slds-size_4-of-12{
    margin:0;
    position:relative;
    float:left
}
.THIS .myPanel.slds-col.slds-size_8-of-12{
    margin:0;
    position: relative;
    float: right;
}
.THIS .projectsLists{
    position:absolute;
    width: 80%;
    max-width: 800px;
    margin: 0 10%;
    padding: 0 10%;
}
.THIS .cOngoingProjectDetails{
    background-color: powderblue;
}
.THIS .slds-panel__section{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: powderblue;
}
.THIS ul{
    width: 100%;
    margin: 0;
    padding: 10%;
}
.THIS .myPanel.slds-col.slds-size_12-of-12.cOngoingProjectsList{
    position: relative;
}
.THIS .myPanel.slds-col.slds-size_4-of-12{
    background-color: powderblue;
    padding: 2% 4%;
}