.THIS.mybox {
    cursor: pointer;
}
.THIS.hideMe{
    display : none;
}
.THIS.showMe{
    display: block;
}
.THIS .myPanel {
    height: auto;
    max-width: 520px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #605e5e;
    display: inline-block;
    margin: 0 4%;
}
.THIS .myboxs{
    padding: 1rem;
    border-radius: .25rem;
    background-color: #5c6188;
}
.THIS .mymodal{
    background-color: #726d6d;
  	opacity: 0.95;
}